In [1]:
import pandas as pd
import re
import json
import time as tm
from datetime import datetime
from oauth2client.service_account import ServiceAccountCredentials
from gcloud import storage
from ftplib import FTP
from glob import glob

In [2]:
def uploadjson(file, filename):
    credentials_dict = {
        'type': 'service_account',
        'client_id': "110677326745099597758",
        'client_email': 'cna-flask-project@appspot.gserviceaccount.com',
        'private_key_id': 'afc2c0eb7f067837400bf1dfa2b7d9db8efc5d80',
        'private_key': "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCx9pYsyRNhst55\nutGjnslD5j0v+ZW7Het34MkbCcQL1NPPKxccMLa30J8gE9uMBDGPLrDwzyFTSOhF\n3BIGhsnILks5E7nPWmUUy601lJkfBWE3rS0OcCs2/cntNwDhf/ng1sj3Jdi6PUVo\nydefKeA+2Ii41JRFtfXWlqAFhP3qrNxsx2ZPGB7/cUfm7gPHDheT9XRUQPuzHfYX\nFznPm2wmsLpJ3aEYW/SxCOmSVehhbj8bC53GFgyTxmZgvBqL4ZYsslKarl6fNemG\nduiNV04z0rNzHpEkuejnaldPRTfL+FqYglvUB0TswFoca1ZCYwPp4XM5F+LvSYsm\na1eXY6qtAgMBAAECggEAC5McsFwBoTSXiLZQZUJyF7L1XtXuWaW4B2t82P/ZGuXk\nQtCsJ565e5obh2QTPveU25mvU3I9WiPfS4/lMjx5CkaMiPFR//0CnwgiQ15fWSep\n64udZxd/kAuQoxeVPJVsxKVjm8N/5ZkPlyGtnwIDvkKqHc9ht2j+zM6uKL2+IBGz\nK/qHiA/ZHDrprknkTD4oKr3TU+0gbRN9bUgNDeCDaA1hruLhKikYo2h2Q/wsqPwd\nny//ZNsN/TYhrCKXRtsj95iC+Hg5slJKRxwijMahgqy/vatY+XHmbqrCOZelylNZ\n4jphmXU2VaLrgqXn68HwOp5PbLLvXMr8auKjUjzFUQKBgQDwey9d8d3cEJw4Pqvs\nkWhJv19hXoz5CyHhlDnbWsFHoT2Si4iV8M/ugk+wLiyerF4Mdo0TecUv/N56CWsM\n6EffaRanqB5vdO2ynLnMnrrZN0Gdypreb/ZbR07lF/gUT/nNev3awdqRVBP4+ckV\nex8Uw/uRX9TK4nYSuZ9PHD4vxQKBgQC9cpZ4dUnOahnsexb2nqIGl4l80/ujoZfu\noL7HacwaGOBjRoqc4mde1C3ZABO/iGSiRfweM4t1TXoc6ZqKUvJXURPXVPySAuoY\nvVSgoxOYnPASikUEqyl66cH3Gs+nMdA7wtfYjltwjMvmwv7UTXmRPjB49KhCUVUB\nGJ8Yy2EVyQKBgECYlkyh33pxa8Uf8IaHOIA2y6QYBb4P43X4nuHxKuHWyfdHS9Ua\n7n+euVEV1h55JnoqjhKhLvqI7inRxdOdwVCdpdw7KJG/0umbd70jFgWq9hEwjxEY\n+g/iw6p+GcE7ClrLoszULaXD8+l5Dy6Z9+tYCYcvOrWUxyqYedaCO6IRAoGBAKdO\nC+6jfiPJdc1vQu9XVrXFnAjeWKvAaKG32ePX3gTqFTf3MzCrjSik7zxlogsTE/Rv\nI+E0GiPk4UOpVe50pEpScthG2KrF4iEpCxS2D/dGGYn2DE+8LOy8hayJQ/tetYwh\nXWeFCOHTpbrMWCn7pbGMH1iij/nJQ+2s5cwKyFlpAoGBAJlAxteQm+1DSIFmkArp\n5NwrM3q0IwBrjCoCbuHB8ch0SqJq1X/m9WCtX2OQVgFlEVC2KcpIpNfgIR/YfV6l\nQPte4h4M0+oUzq2GP5WtobYb4VlsSthelq7Jbkc9VjTr/aMb3Ww84l46+oeoKiKJ\nrkrBvrVGAUzsucEHGcfyDt8i\n-----END PRIVATE KEY-----\n",
    }
    credentials = ServiceAccountCredentials.from_json_keyfile_dict(
        credentials_dict
    )
    client = storage.Client(credentials=credentials, project='cna-flask-project')
    bucket = client.get_bucket('cna-flask-project.appspot.com')
    blob = bucket.blob('2020recall/{}.json'.format(filename))
    blob.upload_from_string(file, content_type='application/json')

In [9]:
with open('running.json','r') as json_file:
    final = json.load(json_file)

df = pd.DataFrame.from_dict(final['T1'],orient='columns')
df['tboxNo']  = df['tboxNo'].astype('str')
df['deptbox'] = df['prvCode']+df['cityCode']+df['deptCode']
lookup =  pd.read_excel('citycodes.xlsx', dtype='str')
df

,prvCode,cityCode,areaCode,deptCode,liCode,tboxNo,candTksInfo,prof1,prof2,prof3,prof4,prof5,prof6,prof7,profRate,deptTot,deptRcv,tboxTot,tboxRcv,deptbox
0,09,007,01,None,None,None,"[{'candNo': 1, 'tks': 543, 'candVictor': '*', ...",4165,107,4272,1,4273,2191,6464,66.09,1,1,5,5,NaN
1,09,007,01,010,None,None,"[{'candNo': 1, 'tks': 543, 'candVictor': '*', ...",4165,107,4272,1,4273,2191,6464,66.09,1,1,5,5,09007010
2,09,007,02,None,None,None,"[{'candNo': 1, 'tks': 315, 'candVictor': ' ', ...",1272,44,1316,1,1317,437,1754,75.03,1,1,2,2,NaN
3,09,007,02,020,None,None,"[{'candNo': 1, 'tks': 315, 'candVictor': ' ', ...",1272,44,1316,1,1317,437,1754,75.03,1,1,2,2,09007020
4,09,007,03,None,None,None,"[{'candNo': 1, 'tks': 379, 'candVictor': ' ', ...",775,29,804,0,804,274,1078,74.58,1,1,2,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525,68,000,10,090,None,None,"[{'candNo': 1, 'tks': 9309, 'candVictor': '*',...",67653,2468,70121,38,70159,35365,105524,66.45,1,1,75,75,68000090
526,68,000,11,None,None,None,"[{'candNo': 1, 'tks': 9479, 'candVictor': '*',...",26320,936,27256,13,27269,13678,40947,66.56,1,1,35,35,NaN
527,68,000,11,110,None,None,"[{'candNo': 1, 'tks': 9479, 'candVictor': '*',...",26320,936,27256,13,27269,13678,40947,66.56,1,1,35,35,68000110
528,68,000,12,None,None,None,"[{'candNo': 1, 'tks': 7143, 'candVictor': ' ',...",35368,1318,36686,18,36704,17410,54114,67.79,1,1,47,47,NaN
529,68,000,12,120,None,None,"[{'candNo': 1, 'tks': 7143, 'candVictor': ' ',...",35368,1318,36686,18,36704,17410,54114,67.79,1,1,47,47,68000120

In [10]:
df1 = pd.merge(df ,lookup, left_on="deptbox", right_on ='districtfull', how='right')
df1

,prvCode,cityCode,areaCode,deptCode,liCode,tboxNo,candTksInfo,prof1,prof2,prof3,...,deptTot,deptRcv,tboxTot,tboxRcv,deptbox,pcode,County,City,districtfull,Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,00,000,000,00000000,全國
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,09,000,000,09000000,福建省
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10,000,000,10000000,臺灣省
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,63,000,000,63000000,臺北市
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,64,000,000,64000000,高雄市
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,68,000,10,090,None,None,"[{'candNo': 1, 'tks': 9309, 'candVictor': '*',...",67653.0,2468.0,70121.0,...,1.0,1.0,75.0,75.0,68000090,68,000,090,68000090,龍潭區
391,68,000,08,100,None,None,"[{'candNo': 1, 'tks': 11462, 'candVictor': '*'...",113446.0,3947.0,117393.0,...,1.0,1.0,140.0,140.0,68000100,68,000,100,68000100,平鎮區
392,68,000,11,110,None,None,"[{'candNo': 1, 'tks': 9479, 'candVictor': '*',...",26320.0,936.0,27256.0,...,1.0,1.0,35.0,35.0,68000110,68,000,110,68000110,新屋區
393,68,000,12,120,None,None,"[{'candNo': 1, 'tks': 7143, 'candVictor': ' ',...",35368.0,1318.0,36686.0,...,1.0,1.0,47.0,47.0,68000120,68,000,120,68000120,觀音區
394,68,000,06,130,None,None,"[{'candNo': 1, 'tks': 472, 'candVictor': '*', ...",2210.0,73.0,2283.0,...,1.0,1.0,11.0,11.0,68000130,68,000,130,68000130,復興區

In [3]:
while 'data/final.json' not in glob('data/*.json'):
    loopbegin = datetime.now()
    print('======================='+loopbegin.strftime("%H:%M"))
    with open('data/running.json','r') as json_file:
        data = json.load(json_file)

    a = [i for i in data['T1'] if i['cityCode'] =='000' and i['deptCode']=='000'][0]
    a['openRate'] = round((a['tboxRcv']/(a['tboxTot']+0.0000000000001))*100,2)

    with open('data/progress_T.json','w') as f:
        json.dump(a, f)

    file_path = 'progress_T.json'
    with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open('data/'+file_path, 'rb') as file:
        ftp.cwd('/20200815/api')
        ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(f'data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('210.69.89.186','20090948','u0401006@CNA123') as ftp, open('data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)

    print('now sleep {}s'.format(180-(datetime.now()-loopbegin).total_seconds()))
    tm.sleep(180-(datetime.now()-loopbegin).total_seconds())

with open('data/final_T.json','r') as json_file:
    final = json.load(json_file)
    a = [i for i in final['F1'] if i['cityCode'] =='000' and i['deptCode']=='000'][0]
    a['openRate'] = round((a['tboxRcv']/a['tboxTot'])*100,2)

    with open('data/progress_T.json','w') as f:
        json.dump(a, f)    
    file_path = 'progress_T.json'
    with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open('data/'+file_path, 'rb') as file:
        ftp.cwd('/20200815/api')
        ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(f'data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('210.69.89.186','20090948','u0401006@CNA123') as ftp, open('data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)

=======================11:34

error_perm: 550 Can't change directory to /20200815/api: No such file or directory

In [ ]:
while 'data/final.json' not in glob('data/*.json'):
    loopbegin = datetime.now()
    print('======================='+loopbegin.strftime("%H:%M"))
    with open('data/running.json','r') as json_file:
        data = json.load(json_file)

    a = [i for i in data['T1'] if i['cityCode'] =='000' and i['deptCode']=='000'][0]
    a['openRate'] = round((a['tboxRcv']/(a['tboxTot']+0.0000000000001))*100,2)

    with open('data/progress_T.json','w') as f:
        json.dump(a, f)

    file_path = 'progress_T.json'
    with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open('data/'+file_path, 'rb') as file:
        ftp.cwd('/20200815/api')
        ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(f'data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('210.69.89.186','20090948','u0401006@CNA123') as ftp, open('data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)

    print('now sleep {}s'.format(180-(datetime.now()-loopbegin).total_seconds()))
    tm.sleep(180-(datetime.now()-loopbegin).total_seconds())

with open('data/final_T.json','r') as json_file:
    final = json.load(json_file)
    a = [i for i in final['T1'] if i['cityCode'] =='000' and i['deptCode']=='000'][0]
    a['openRate'] = round((a['tboxRcv']/a['tboxTot'])*100,2)

    with open('data/progress_T.json','w') as f:
        json.dump(a, f)    
    file_path = 'progress_T.json'
    with FTP('demo.cna.com.tw','u0401006','capo4188') as ftp, open('data/'+file_path, 'rb') as file:
        ftp.cwd('/20200815/api')
        ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('172.17.242.151','20090948','u0401006@CNA123') as ftp, open(f'data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)
#     with FTP('210.69.89.186','20090948','u0401006@CNA123') as ftp, open('data/'+ file_path, 'rb') as file:
#         ftp.cwd('/20200605-recallvote/data')
#         ftp.storbinary(f'STOR {file_path}', file)

In [ ]:
https://demo.cna.com.tw/20200815/api/